/* *************************************
***************** |MD| *****************
************************************* */
@media screen and (max-width: 1100px) {
    .row .flex li {
        width: calc(100% / 4);
    }
}

/* *************************************
***************** |S| ******************
************************************* */
@media screen and (max-width: 700px) {
    .row .flex li {
        width: calc(100% / 2);
    }
    
}

/* *************************************
***************** |XS| *****************
************************************* */

@media screen and (max-width: 600px) {
    /* HIDDEN ITEMS */
    .hidden {
        display: none;
    }

    /* NAV BAR */
    .nav-side-bar {
        padding: 0 24px

    }
    
    a.logo { 
        width: 34px;
    }

    .big-logo {
        display: none;
    }

    .small-logo {
        display: flex;
    }

    .nav-menu {
        flex-grow: 1;
    }

    .download-app {
        text-align: end;
    }

    .user-account {
        border: none;
        width: 35px;
        object-fit: cover;
    }

    /* VARIABLES */

    /* layout */
    :root {
        --side-bar-w: 90px;
    }
}
