/* ****************************************
***************** |RESET| *****************
**************************************** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* ****************************************
***************** |COMMON| ****************
**************************************** */
.flex {
    display: flex;
    flex-wrap: wrap;
}

.space-btwn {
    justify-content: space-between;
}

.align-cntr {
    align-items: center;
}

.circle {
    border-radius: 50%;
}

.hidden {
    display: inline-block;
    vertical-align: middle;
}

.btn {
    border-radius: 20px;
}

/* ****************************************
************* |WEB APP LAYOUT| ************
**************************************** */
.mc-wrapper {
    flex-wrap: wrap; 
    width: 100%;
    height: 100vh;
}

/* side bar */
.nav-side-bar {
    width: var(--side-bar-w);
    height: calc(100% - var(--footer-h));
    /* debug */
    background-color: black;
}

/* main content */
.content {
    height: calc(100% - var(--footer-h));
    width: calc(100% - var(--side-bar-w));
    background-color: var(--main-content-bgnd);
}

.header-content {
    width: calc(100% - var(--side-bar-w));
    height: var(--content-header-h);
    position: fixed;
    background-color: var(--main-header-bgnd);
}

.body-content {
    overflow-y: auto;
    padding: calc(14px + var(--content-header-h)) 14px 14px 14px;
    color: white;
    width: 100%;
    height: calc(100% - var(--content-header-h));
}

.footer {
    width: 100%;
    height: var(--footer-h);
    /* debug */
    background-color: rgb(32, 167, 66);
}

/* ****************************************
************* |NAV SIDE BAR| **************
**************************************** */
.nav-side-bar .container {
    width: 85%;
    height: 100%;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: auto;
}

.nav-side-bar {
    color: var(--nav-bar-text);
    position: relative;
}

/* logo */
a.logo  {
    display: block;
    width: 180px;
    padding-bottom: 30px;
}

.logo-section {
    padding-top: 20px;
}

.big-logo {
    display: block;
}

.small-logo {
    display: none;
}

/* nav menu */

.nav-menu a img {
    display: inline-block;
    vertical-align: middle;
}

.nav-menu li {
    padding: 8px 0;
}

.nav-menu img {
    width: 30px;
}

/* play list */
.playlist {
    padding-top: 30px;
    flex-grow: 1;
}

.new-play-list {
    padding: 12px 0;
}

.new-play-list i {
    margin-right: 10px;
    font-size: 50px;
}

.playlist li {
    padding: 8px 0;
}

/* footer */
.navbar-footer {
    align-self: flex-end;
}

.user-account {
    padding: 20px 0 10px;
    width: 240px;
    border-top: 1px solid var(--nav-bar-text);
}

.download-app {
    padding-bottom: 10px;
}

.download-app img,
.user-account img {
    display: inline-block;
    vertical-align: middle;
}

.download-app img {
    width: 20px;
    margin-right: 10px;
}

.user-account img {
    margin-right: 10px;
    object-fit: cover;
    width: 38px;
    height: 38px;
    background-color: var(--nav-bar-text);
}

/* ****************************************
************* |MAIN CONTENT| **************
**************************************** */
/* HEADER */
.header-content {
    justify-content: flex-end;
    align-items: center;
    padding-right: 16px;
}

.header-content .btn {
    text-transform: uppercase;
    padding: 8px 16px;
    font-weight: 500;
    font-size: 10px;
    border: 1px solid white;
    color: white;
}

/* BODY */
/* body nav bar*/
.body-nav-bar {
    width: 450px;
    font-size: 8px;
    margin: 0 auto;
}

.row .flex li {
    width: calc(100% / 6);
    padding: 6px;
}

/* body content */
.row a {
    text-align: center;
}

/* ****************************************
*************** |FONT STYLING| ************
**************************************** */
/* SIDE BAR */
.playlist > h2 {
    color: white;
    font-size: 1.2rem;
}

.new-play-list h2 {
    font-size: 1.2rem;
}

.playlist li {
    font-weight: 700;
}

.user-account h2 {
    color: white;
    font-size: 1.2rem;
}

/* BODY */
/* body nav bar */
.body-nav-bar ul{
    font-weight: 600;
    text-transform: uppercase;
    color: var(--nav-bar-text);

}

/* body content */
.row > h2 {
    padding: 30px 0 20px;
    font-size: 30px;
}

.row > p {
    padding-bottom: 30px;
    color: var(--nav-bar-text);
    font-weight: 500;
}

.row a h3 {
    padding: 10px 0;
    font-size: 20px;
    font-weight: 700;
}

.row a h4 {
    color: var(--nav-bar-text);
}
/* ****************************************
***************** |VARIABLES| *************
**************************************** */

/* layout */
:root {
    --side-bar-w: 280px;
    --footer-h: 80px;
    --content-header-h: 80px;
}

/* color */
:root {
    /* txt */
    --nav-bar-text: #A3A3A3;
    /* bgnd */
    --main-content-bgnd: #141922;
    --main-header-bgnd: rgba(0, 0, 0, 0.8);
}